body, html {
    height: 100%;
    background: linear-gradient(92.88deg, #444d60 9.16%, #394254 43.89%, #2d3648 64.72%);
}

.middle{
  position: absolute;
  left: 40%;
  text-align: center;
}

img{
  padding-top: 15%;
  width: 50%;
}

.welcome{
  color: white;
  font-size: 40px;
  margin-bottom: 5px;
}

.angular-skeleton{
  margin-top: 5px;
  color: #53c4a5; /* 53c4a5 or 2bb673 */
  font-size: 60px;
}


.bgimg{
  height: 100%;
  background: linear-gradient(180deg, #61646d 3%, #42444f 33%, #2c2f3b 80%);

}
